.chat-widget {
  position: fixed;
  bottom: 0;
  right: 16px;
  font-family: 'Poppins', sans-serif;
  z-index: 1000;
  
}

.chat-collapsed {
  background-color: #0275d8;
  color: white;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  width: 250px;
  height: 50px;
}
.chat-collapsed svg {
  height: 50px;
  width: 50px
}

.chat-expanded {
  background-color: white;
  border: 1px solid #ddd;
  min-height: 470px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.chat-expanded svg {
  height: 50px;
  width: 50px
}
.chat-header {
  background-color: #0275d8;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

.contact-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  background-color: #0275d8;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
}

.contact-form button:hover {
  background-color: #025aa5;
}
