.socialNav {
    
    flex-direction: column;
    justify-content: space-between; /* Adjust this according to your layout */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, .3);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    bottom: 40%;
    left: 2%;
    padding: 0.2rem 0.2rem;
    position: fixed;
    -webkit-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
    width: -webkit-max-content !important;
    width: max-content !important;
    z-index: 10000;


    
  
}

  
  .socialNav a {
    flex: 1; /* Makes each link take equal space */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .socialNav img {
    width: 100%; /* Ensures the image fills the container */
    height: auto; /* Maintains aspect ratio */
    max-width: 45px; /* Set max width for images */
    margin: 0 auto; 
    border-radius: 50%;/* Centers images within the link */
  }
  